#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input[type = "submit" ] {
    border-bottom: none;
    background-color: #8092A3;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px 0px;
}

#login-form input[type = "submit"]:hover {
    background-color: #21355B;
    color: #fff;
}

#login-form input:not([type = "submit"]) {
    border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}


#login-form input::placeholder {
    color: rgba( 0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: #21355B;
    outline: none;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    transition: 0.3s;
}

#login-form a:hover {
    color: #21355B;
}

#create-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#create-form input {
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#create-form a {
    border: none;
    text-align: center;
    background-color: #8092A3;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#create-form a:hover {
    background-color: #21355B;
    color: #fff;
}

