@import './login.css';
@import './CreateAccount.css';


/* component */
@import './components/welcome.css';


body {
    font-family: 'Open Sans', sans-serif;
    /*height: 1000vh;*/
    color: #2e363e;
}
a {
    text-decoration-line: none;
}