.welcome-header {
    padding-top: 100px;
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
